-
	var data = htmlWebpackPlugin.options.data
	var text = htmlWebpackPlugin.options.text
	var dialog = text.dialog[0]
	var micro = text.micro[0]
	var lang = htmlWebpackPlugin.options.lang
	var rootPath = htmlWebpackPlugin.options.rootPath
	// var streams = ['landfill','metal','glass','plastic','paper']
	var streams = ['paper','landfill']

doctype html
html
	head
		include head.pug
	body#intro.mute
		include header.pug

		#intro-view.view.loading
			#intro-selection-wrap
				#intro-selection
					#intro-title
						img(src=rootPath+"assets/images/title.svg" alt=micro.title)
					#intro-tagline
						| #{micro.tagline}
					#intro-bottom
						button.button#intro-button #{micro.get_started}
						#loading #{micro.loading}

		#select-view.view
			.view-inner

				#items-wrap
					#stamp
					each itemData, index in data.items
						- var itemText = text.items[index];
						.item(data-item=itemData.slug data-stream=itemData.stream)
							img(src=rootPath+"assets/images/items/"+itemData.slug+".png" alt=itemText.label+": "+itemText.tooltip)
							.tooltip
								.tooltip-arrow
								.tooltip-inner
									strong= itemText.label
									p= itemText.tooltip
						-;

					#bins.bins-wrap
						.bin(data-stream="paper" data-title="Paper")
							img.bin-front(src=rootPath+"assets/images/bin-paper-front.png")
							img.bin-lid(src=rootPath+"assets/images/bin-paper-lid.png")
						.bin(data-stream="metal-glass-plastic" data-title="Metal, Glass, Plastic, Cartons")
							img.bin-front(src=rootPath+"assets/images/bin-mgp-front.png")
							img.bin-lid(src=rootPath+"assets/images/bin-mgp-lid.png")
						.bin(data-stream="landfill" data-title="Landfill")
							img.bin-front(src=rootPath+"assets/images/bin-landfill-front.png")
							img.bin-lid(src=rootPath+"assets/images/bin-landfill-lid.png")

					#bin-backs.bins-wrap
						.bin(data-stream="paper")
							img.bin-back(src=rootPath+"assets/images/bin-paper-back.png")
						.bin(data-stream="metal-glass-plastic")
							img.bin-back(src=rootPath+"assets/images/bin-mgp-back.png")
						.bin(data-stream="landfill")
							img.bin-back(src=rootPath+"assets/images/bin-landfill-back.png")

		#streams-view.view
			.view-inner
				each streamSlug in streams
					- var streamData = data[streamSlug]
					- var streamText = text[streamSlug];
					.stream(data-slug=streamSlug)
						.scenes-wrap
							each sceneData, index in streamData
								- var sceneText = streamText[index];
								.scene(class=sceneData.slug data-scene=sceneData.slug data-color=sceneData.color data-animated=sceneData.animated data-looped=sceneData.looped)
									if(streamSlug == 'paper' || streamSlug == 'landfill')
										.svg-wrap(class=sceneData.orientation)

									- var x = 0;
									while x <= 3
										if(sceneText["fact"+x])
											.factoid
												.tooltip-inner
													//- p= sceneText["fact"+x]
													//- p= "fact"+x
							-;
						.chyron-wrap-wrap
							.chyron-wrap
								.chyron
									.chyron-inner
										.portrait
											img(src=rootPath+"assets/images/workers/"+streamSlug+".png")
										.captions
											each sceneData, index in streamData
												- var sceneText = streamText[index]
												.caption(data-scene=sceneData.slug)
													.text= sceneText.caption
													audio(controls="false" preload="none")
														source(src=rootPath+"assets/audio/"+streamSlug+"/"+sceneData.slug+".wav" type="audio/wav")
											-;
										button.icon-button.toggle
										button.icon-button.replay
										button.icon-button.volume
									
						.progress
							each sceneData, index in streamData
								- var sceneText = streamText[index]
								.tick(data-scene=sceneData.slug)
									.label= sceneText.label
							-;

						.arrow(data-dir="prev")
							.arrow-shape
						.arrow(data-dir="next")
							.arrow-shape