-	var rootPath = htmlWebpackPlugin.options.rootPath;
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

//- Primary Meta Tags
script(type="text/javascript" src=rootPath+"dist/jquery.js")
script(type="text/javascript" src=rootPath+"dist/jquery-ui.min.js")
script(type="text/javascript" src=rootPath+"dist/masonry.pkgd.min.js")
script(type="text/javascript" src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js")
//- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js")	
script(type="text/javascript" src=rootPath+"dist/script.js?verson=0.1.0")

//- Primary Meta Tags
title Follow Your Waste — The everyday story of your waste, as told by New York’s Strongest.</title>
meta(name="title" content="Follow Your Waste — The everyday story of your waste, as told by New York’s Strongest.")
meta(name="description" content="")

//- Open Graph / Facebook
meta(property="og:type" content="website")
meta(property="og:url" content="")
meta(property="og:title" content="Follow Your Waste — The everyday story of your waste, as told by New York’s Strongest.")
meta(property="og:description" content="")
meta(property="og:image" content="")

//- Twitter
meta(property="twitter:card" content="summary_large_image")
meta(property="twitter:url" content="")
meta(property="twitter:title" content="Follow Your Waste — The everyday story of your waste, as told by New York’s Strongest.")
meta(property="twitter:description" content="")
meta(property="twitter:image" content="")

link(rel="alternate" href=rootPath hreflang="x-default")
link(rel="alternate" href=rootPath+"es" hreflang="es")
link(rel="alternate" href=rootPath+"zh-Hans" hreflang="zh-Hans")