-
	var data = htmlWebpackPlugin.options.data
	var text = htmlWebpackPlugin.options.text
	var dialog = text.dialog[0]
	var micro = text.micro[0]
	var rootPath = htmlWebpackPlugin.options.rootPath

header
	#logos
		//- a.found-logo(href="https://www.sanitationfoundation.org/" target="_blank")
		//- 	img(src=rootPath+"assets/images/foundation-logo.png" alt=system.foundation)
		a.site-logo(href="./")
			img(src=rootPath+"assets/images/title.svg" alt=micro.title)
	nav
		a(href=rootPath+"about") About
		a(href=rootPath+"workers") Meet the Workers
		a(href=rootPath+"resources") Resources
		a(href=rootPath)#donate
			span Get Started




