-
	var data = htmlWebpackPlugin.options.data
	var text = htmlWebpackPlugin.options.text
	var dialog = text.dialog[0]
	var micro = text.micro[0]
	var workers = text.workers
	var lang = htmlWebpackPlugin.options.lang
	var rootPath = htmlWebpackPlugin.options.rootPath

doctype html
html(lang=lang data-root-path=rootPath)
	head
		include head.pug
			
	body.page#about
		include header.pug

		#page-content
			section
				.col.wide
					h2 Meet the workers
					p The men and women of our Department are on the front lines every day working tirelessly to keep our city healthy, safe and clean. They told you the story of your waste - now get to know the person behind the collection truck. From laying in the hammocks at Governor’s Island, to playing in our department’s “Pipes and Drums” band, there is so much more to New York’s Strongest than this short story - find out more below! 

			each worker, index in workers
				section.worker
					.col.narrow(style="background-image:url("+rootPath+"assets/images/workers/"+worker.image+".png)")
					.col.wide
						h2 #{worker.image}
						div
							strong Garage: 
							span #{worker.garage}
						div
							strong Years on the job: 
							span #{worker.years}
						div
							strong Favorite thing to do in my city: 
							span #{worker.city} 
						div
							strong Favorite part of the job: 
							span #{worker.job} 
						if(worker.stream)
							div
								strong My waste stream is: 
								span #{worker.stream}
				

		include footer.pug

		
